NODE_ENV=development
PORT=5000
TEST_PORT=6000
SQL_DEV_HOST=postgres
SQL_DEV_USER=admin
SQL_DEV_PASSWORD=admin
SQL_DEV_DB=risevest_dev_db
SQL_DEV_PORT=5432
SQL_TEST_HOST=postgres
SQL_TEST_USER=admin
SQL_TEST_PASSWORD=admin
SQL_TEST_DB=risevest_test_db
SQL_TEST_PORT=5432
NOSQL_DEV_HOST=redis
NOSQL_DEV_PORT=6379
NOSQL_DEV_DB=3
NOSQL_TEST_HOST=redis
NOSQL_TEST_PORT=6379
NOSQL_TEST_DB=4
BEARER_TOKEN="{{AUTH_TOKEN}}"
